PIPELINE_MODE=local
SOCRATA_API_URL=https://data.cityofnewyork.us/resource/43nn-pn8j.json
SOCRATA_LIMIT=50000
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_BRONZE=bronze
AZURE_CONTAINER_SILVER=silver
AZURE_CONTAINER_GOLD=gold
